#  Petite Pandas: Data Analysis using Pandas
> Code for a series of lessons based on the utilization of Pandas to read and create interesting things with files and data.

In [11]:
import pandas as pd
# reads the JSON file and converts it to a Pandas DataFrame
df = pd.read_json('files/menu.json')

print(df)

    Item ID  Item Name  Price
0   1221362     burger   3.49
1   2214251      fries   1.49
2   5214214      drink   1.49
3   4124211      chips   0.99
4   3214124    whopper   5.49
5   3124124  hamburger   1.99
6   1214124      pepsi   1.49
7   1124124       cola   1.49
8   2124124      fanta   1.49
9   4124126     sprite   1.49
10  4512423  dr pepper   1.49

In [12]:
#print the values in the points column with column header
print(df[['Item ID']])

print()

#try two columns and remove the index from print statement
print(df[['Price','Item ID']].to_string(index=False))

    Item ID
0   1221362
1   2214251
2   5214214
3   4124211
4   3214124
5   3124124
6   1214124
7   1124124
8   2124124
9   4124126
10  4512423

 Price  Item ID
  3.49  1221362
  1.49  2214251
  1.49  5214214
  0.99  4124211
  5.49  3214124
  1.99  3124124
  1.49  1214124
  1.49  1124124
  1.49  2124124
  1.49  4124126
  1.49  4512423

In [13]:
#sort values
print(df.sort_values(by=['Item ID']))

print()

#sort the values in reverse order
print(df.sort_values(by=['Item ID'], ascending=False))

    Item ID  Item Name  Price
7   1124124       cola   1.49
6   1214124      pepsi   1.49
0   1221362     burger   3.49
8   2124124      fanta   1.49
1   2214251      fries   1.49
5   3124124  hamburger   1.99
4   3214124    whopper   5.49
9   4124126     sprite   1.49
3   4124211      chips   0.99
10  4512423  dr pepper   1.49
2   5214214      drink   1.49

    Item ID  Item Name  Price
2   5214214      drink   1.49
10  4512423  dr pepper   1.49
3   4124211      chips   0.99
9   4124126     sprite   1.49
4   3214124    whopper   5.49
5   3124124  hamburger   1.99
1   2214251      fries   1.49
8   2124124      fanta   1.49
0   1221362     burger   3.49
6   1214124      pepsi   1.49
7   1124124       cola   1.49

In [15]:
#print only values with a specific criteria 
print(df[df.Price > 1.49])

   Item ID  Item Name  Price
0  1221362     burger   3.49
4  3214124    whopper   5.49
5  3124124  hamburger   1.99

In [18]:
print(df[df.Price == df.Price.max()])
print()
print(df[df.Price == df.Price.min()])

   Item ID Item Name  Price
4  3214124   whopper   5.49

   Item ID Item Name  Price
3  4124211     chips   0.99