# Graphing CSV File
> Graphing CSV File
- toc: true
- categories: []
- type: ap
- week: 29

In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

In [2]:
str_filename = 'files/basketball.csv'

In [3]:
fh = open(str_filename)
csv_reader = csv.reader(fh)

In [4]:
csv_header = next(csv_reader)
csv_header

['Team',
 ' 2019_Season',
 ' 2020_Season',
 ' 2021_Season',
 ' 2022_Season',
 ' 2023_Season']

In [5]:
lst_dt_csv = next(csv_reader)
lst_dt_csv

['Atlanta Hawks', ' 29', ' 25', ' 47', ' 43', ' 41']

In [8]:
dt_csv = np.array(list(map((datetime.fromisoformat, lst_dt_csv[1:3]))))
dt_csv

TypeError: map() must have at least two arguments.

In [9]:
lst_fgs = next(csv_reader)
np_d_fs = np.array(list(map(float, lst_fs[1:3])))
np_d_fs

NameError: name 'lst_fs' is not defined

In [10]:
fh.close()

In [16]:
df_sig = pd.read_csv(str_filename, header=None, skiprows=5, names=csv_header)
df_sig

,Team,2019_Season,2020_Season,2021_Season,2022_Season,2023_Season
0,Chicago Bulls,22,28,35,46,40
1,Cleveland Cavaliers,19,24,25,44,51
2,Dallas Mavericks,33,47,48,52,38
3,Denver Nuggets,54,52,54,48,53
4,Detroit Pistons,41,25,23,23,17
5,Golden State Warriors,57,20,44,53,44
6,Houston Rockets,53,50,19,20,22
7,Indiana Pacers,48,51,39,25,35
8,Los Angeles Clippers,48,56,54,42,44
9,Los Angeles Lakers,37,60,48,33,43
10,Memphis Grizzlies,33,38,43,56,51
11,Miami Heat,39,49,46,53,44
12,Milwaukee Bucks,60,63,52,51,58
13,Minnesota Timberwolves,36,24,26,46,42
14,New Orleans Pelicans,33,34,35,36,42
15,New York Knicks,17,26,47,37,47
16,Oklahoma City Thunder,49,50,25,24,40
17,Orlando Magic,42,37,24,22,34
18,Philadelphia 76ers,51,48,56,51,54
19,Phoenix Suns,19,38,58,64,45
20,Portland Trail Blazers,53,39,48,27,33
21,Sacramento Kings,39,35,35,30,48
22,San Antonio Spurs,48,37,38,34,22
23,Toronto Raptors,58,60,31,48,41
24,Utah Jazz,50,50,59,49,37
25,Washington Wizards,32,29,39,35,35

In [15]:
df_sig.CH1.plot()
plt.xlabel('Sample number')
plt.ylabel('Signal value, volts')

AttributeError: 'DataFrame' object has no attribute 'CH1'